/* Global Layout */

html, body, #root {
  height: 100%;
  color: #b3b3b3;
  font-family: Montserrat, sans-serif;
  background: #212121;
}

a, .btn-link {
  color: #fff;
  font-size: 18px;
}

a:hover, .btn-link:hover, .btn-link:focus {
  color: #fff;
  text-decoration: none;
}

/* Mobile Layout */

@media (max-width: 575.98px) {
  
  main {
    height: 70%;
  }
}

/* Header */

header {
  background: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header .nav {
  flex: 1;
}

header .nav i {
  margin: 10px;
}

/* Responsive circle images */

header .image-cont {
  float:left;
  position: relative;
  padding-bottom : 30%;
}

header .logo {
  display: flex;
}

header .logo img {
  margin-top: 30px;
  width: 50px;
  height: 50px;
}

header .logo h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 600;                                                                                                               
}

.dropdown-toggle {
  white-space: normal;
}

.dropdown-menu.show {
  background: #212121;
}

.dropdown-menu.show a {
  color: #fff;
}

.dropdown-menu.show a:hover {
  background: #3e3e3e;
}

header .user img {
  margin: 5px;
  border-radius: 100%;
  width: 45px;
}

header .user h6 {
  margin: 15px 0;
}

header .user .dropdown-toggle {
  width: 100%;
}

header .user .dropdown-toggle::after {
  display: none;
}

header .login {
  padding: 11px 44px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 500px;
  font-weight: 600;
  margin-bottom: 25px;
  align-self: center;
  font-variant: small-caps;
}

header .login:hover {
  transform: scale(1.06);
  color: #fff;
}

@media (max-width: 1200px) {
  header .logo h2{
    display: none;
  }

  header .nav-item span {
    display: none;
  }

  header .user h6{
    display: none;
  }
}

@media (max-width: 1500px) {
  header .logo h2 {
    margin-top: 20px;
  }
  header .user h6 {
    margin: 0;
  }
}

@media (max-width: 575.98px) {

  header, header .nav {
    flex-direction: row !important;
    min-height: 0;
    justify-content: space-around;
  } 

  header .nav-item {
    margin: 15px 0;
    max-width: 25%;
  }

  header .nav-item i {
    font-size: 34px;
  }

  header .logo img {
    margin-top: 15px;
  }

  header .user img {
    margin-top: 25px;
  }
}

/* Main */

main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .spinner-border {
  margin: 100px 0;
}

main .header img {
  float: left;
  margin: 45px 45px 45px -45px;
  width: 200px;
}

main .header .info {
  float: right;
  margin-top: 45px; 
  max-width: 85%;
}

main .disclaimer {
  width: 35%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

main .disclaimer h3 {
  align-self: center;
  margin-bottom: 15px;
}

@media (max-width: 575.98px) {
  main .header img {
    margin: 45px 45px 45px 45px;
  }
  main .header .info {
    float: left;
  }
  main .disclaimer {
    width: 90%;
  }
}