/* Global Layout */

html, body, #root {
  height: 100%;
  color: #b3b3b3;
  font-family: Montserrat, sans-serif;
  background: #212121;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}


/* Mobile Layout */

@media (max-width: 575.98px) {
  header {
    /* height: 30%; */
    align-self: flex-end;
  }
  
  main {
    height: 70%;
  }
}

/* Header */

header {
  background: #121212;
}

.nav {
  justify-content: space-between;
  height: 90%;
  margin: 15px;
}

/* Responsive circle images */

.image-cont {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  margin-top: 30px;
  width: 50px;
  height: 50px;
}

#logo h2 {
  margin: 20px;
  font-weight: 600;                                                                                                               
}

.user img {
  margin: 5px;
  border-radius: 100%;
  width: 45px;
}

.user h5 {
  margin: 15px 0;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  #logo h2{
    display: none;
  }

  .user img {
    display: block;
  }
  .user h5{
    display: none;
  }
}

@media (max-width: 575.98px) {
  .nav-item {
    display: flex;
    margin: 15px 0;
  }
  .carousel {
    max-width: 200px;
  }
  .user h5{
    display: block;
  }
}

/* Main */

main {
  overflow: auto;
}
